
@{
    ViewBag.Title = "Về cửa hàng";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="banner">
    <img src="~/Image/layout/sigma_banner_04.jpg" />
    <div class="container">

    </div>
</div>
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Chúng tôi là <span>Sigma Store</span></h2>
                <p>
                    Chào mừng bạn đến với Sigma Store - Nơi Lựa Chọn Đỉnh Cao Cho Quần Áo Nam!
                    Bạn đang tìm kiếm một điểm đến độc đáo để nâng cấp tủ đồ của mình? Sigma Store là địa chỉ lý tưởng cho những quý ông đang tìm kiếm phong cách đẳng cấp và sự tự tin trong phong cách cá nhân. Với một sứ mệnh làm mới và phát triển không ngừng, chúng tôi tự hào là điểm đến hàng đầu cho thời trang nam.
                    Tại Sigma Store, chúng tôi không chỉ cung cấp các sản phẩm chất lượng cao, mà còn mang đến cho bạn trải nghiệm mua sắm đẳng cấp và thoải mái nhất. Bạn sẽ khám phá được sự đa dạng trong bộ sưu tập của chúng tôi, từ những bộ đồ công sở lịch lãm, cho đến những trang phục thể thao thoải mái và sành điệu.
                    Đội ngũ nhân viên chuyên nghiệp của chúng tôi sẽ luôn sẵn lòng hỗ trợ bạn trong việc chọn lựa sản phẩm phù hợp nhất với phong cách và nhu cầu của bạn. Chúng tôi cam kết mang đến sự hài lòng tuyệt đối cho khách hàng, từ chất lượng sản phẩm đến dịch vụ sau bán hàng.
                    Với việc không ngừng cải tiến và đổi mới, Sigma Store luôn luôn đem đến những xu hướng thời trang mới nhất và những bộ sưu tập độc đáo, giúp bạn tỏa sáng và thể hiện phong cách riêng của mình.    
                </p>
                <p>
                    Hãy đến và trải nghiệm không gian mua sắm thú vị cùng Sigma Store ngay hôm nay. Chúng tôi tin rằng, với chất lượng, phong cách và dịch vụ tốt nhất, bạn sẽ không hối tiếc khi lựa chọn chúng tôi là địa chỉ mua sắm hàng đầu cho quần áo nam!
                </p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" src="~/Image/layout/ghe_tham_sigma_shop.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Cam kết</h3>
                    <p>Cam kết mang đến các sản phẩm và dịch vụ chất lượng, mang lại giá trị gia tăng và giải quyết vấn đề của khách hàng. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên nghiệp</h3>
                    <p>Phát triển đội ngũ nhân viên, đảm bảo khách hàng mua hàng luôn cảm thấy thoải mái nhất. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Phát triển</h3>
                    <p>Không ngại khó khăn, luôn cố gắng từng ngày. Mang đến cho khách hàng những sản phẩm chất lượng nhất. </p>
                </div>
            </div>
        </div>
    </div>
</div>